<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- admin mapping -->
  <servlet>
  	<servlet-name>admin_login</servlet-name>
  	<servlet-class>admin.login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_login</servlet-name>
  	<url-pattern>/admin/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_main</servlet-name>
  	<servlet-class>admin.main</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_main</servlet-name>
  	<url-pattern>/admin/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_boardList</servlet-name>
  	<servlet-class>admin.boardList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_boardList</servlet-name>
  	<url-pattern>/admin/boardList.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_boardView</servlet-name>
  	<servlet-class>admin.boardView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_boardView</servlet-name>
  	<url-pattern>/admin/boardView.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_boardDelete</servlet-name>
  	<servlet-class>admin.boardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_boardDelete</servlet-name>
  	<url-pattern>/admin/boardDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_boardEdit</servlet-name>
  	<servlet-class>admin.boardEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_boardEdit</servlet-name>
  	<url-pattern>/admin/boardEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_boardWrite</servlet-name>
  	<servlet-class>admin.boardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_boardWrite</servlet-name>
  	<url-pattern>/admin/boardWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_memberList</servlet-name>
  	<servlet-class>admin.memberList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_memberList</servlet-name>
  	<url-pattern>/admin/memberList.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_memberEdit</servlet-name>
  	<servlet-class>admin.memberEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_memberEdit</servlet-name>
  	<url-pattern>/admin/memberEdit.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_download</servlet-name>
  	<servlet-class>admin.download</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_download</servlet-name>
  	<url-pattern>/admin/download</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_reqList</servlet-name>
  	<servlet-class>admin.reqList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_reqList</servlet-name>
  	<url-pattern>/admin/reqList.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>admin_reqView</servlet-name>
  	<servlet-class>admin.reqView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_reqView</servlet-name>
  	<url-pattern>/admin/reqView.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_shopList</servlet-name>
  	<servlet-class>admin.shopList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_shopList</servlet-name>
  	<url-pattern>/admin/shopList.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_shopWrite</servlet-name>
  	<servlet-class>admin.shopWrite</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_shopWrite</servlet-name>
  	<url-pattern>/admin/shopWrite.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>admin_shopView</servlet-name>
  	<servlet-class>admin.shopView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin_shopView</servlet-name>
  	<url-pattern>/admin/shopView.do</url-pattern>
  </servlet-mapping> 
  
  
  <!-- homepage mapping -->
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>main.main</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>/main/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardList</servlet-name>
  	<servlet-class>board.boardList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardList</servlet-name>
  	<url-pattern>/board/boardList.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardView</servlet-name>
  	<servlet-class>board.boardView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardView</servlet-name>
  	<url-pattern>/board/boardView.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardWrite</servlet-name>
  	<servlet-class>board.boardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardWrite</servlet-name>
  	<url-pattern>/board/boardWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardEdit</servlet-name>
  	<servlet-class>board.boardEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardEdit</servlet-name>
  	<url-pattern>/board/boardEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardDelete</servlet-name>
  	<servlet-class>board.boardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardDelete</servlet-name>
  	<url-pattern>/board/boardDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>board_download</servlet-name>
  	<servlet-class>board.download</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>board_download</servlet-name>
  	<url-pattern>/board/download</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>market_reqform</servlet-name>
  	<servlet-class>market.reqform</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_reqform</servlet-name>
  	<url-pattern>/market/reqform.do</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>market_shopList</servlet-name>
  	<servlet-class>market.shopList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_shopList</servlet-name>
  	<url-pattern>/market/shopList.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>market_shopView</servlet-name>
  	<servlet-class>market.shopView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_shopView</servlet-name>
  	<url-pattern>/market/shopView.do</url-pattern>
  </servlet-mapping> 
    <servlet>
  	<servlet-name>market_basketEdit</servlet-name>
  	<servlet-class>market.basketEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_basketEdit</servlet-name>
  	<url-pattern>/market/basketEdit.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>market_basketInsert</servlet-name>
  	<servlet-class>market.basketInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_basketInsert</servlet-name>
  	<url-pattern>/market/basketInsert.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>market_basketList</servlet-name>
  	<servlet-class>market.basketList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_basketList</servlet-name>
  	<url-pattern>/market/basketList.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>market_basket02List</servlet-name>
  	<servlet-class>market.basket02List</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_basket02List</servlet-name>
  	<url-pattern>/market/basket02List.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>market_basket02Insert</servlet-name>
  	<servlet-class>market.basket02Insert</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>market_basket02Insert</servlet-name>
  	<url-pattern>/market/basket02Insert.do</url-pattern>
  </servlet-mapping> 
</web-app>